@page "/"
@page "/oneplayer"
@using BlazorApp1.Enums
@using BlazorApp1.Models

<style>
    .board {
        background-color: white;
        display: flex;
        flex-direction: row;
        max-width: 490px;
    }

    .column {
        min-width: 60px;
        min-height: 60px;
        height: 100%;
    }

    .gamepiece {
        border: solid 1px black;
        min-height: 60px;
        min-width: 60px;
        background-repeat: no-repeat;
        text-align: center;
        font-size: 38px;
        color:aqua
    }

    .sampleColor {
        border: solid 1px black;
        min-height: 20px;
        min-width: 10px;
        max-height: 20px;
        max-width: 100px;
    }
</style>

<PageTitle>One Player Tic Tac Toe</PageTitle>

@if (!board.IsGameComplete)
{
    <h2>@board.CurrentTurn.Name's (@((MarkupString)board.CurrentTurn.Icon!)) Turn!</h2>
}
else
{
    <h2>@((MarkupString)board.GetGameCompleteMessage())</h2>
}

<button class="btn btn-success" style="height:34px" @onclick="@(() => board.Reset())">Reset</button>

<div class="board">
    @for (int i = 0; i < 3; i++)
    {
        <div class="column">
            @for (int j = 0; j < 3; j++)
            {
                int x = i;
                int y = j;
                <div class="gamepiece" style="color:@(board.GetColor(board.Board[i, j].Style))" @onclick="@(() => board.PieceClicked(x, y))">
                    @((MarkupString)(board.GetIcon(board.Board[i, j].Style)))
                </div>
            }
        </div>
    }
</div>

<div class="board">
    <div>
        <h2>Player One Color</h2>
        @foreach (var colorName in cssColors)
        {
            <div class="sampleColor" style="background-color:@colorName" @onclick="@(() => @board.SetPlayerOneColor(@colorName))" />
        }
    </div>
    <div>
        <h2>Player One Icon</h2>
        @foreach (var icon in SegoeSymbolCodes)
        {
            <div @onclick="@(() => @board.SetPlayerOneIcon(@icon))">
                @((MarkupString)icon)
            </div>
        }
    </div>
    <div>
        <h2>Player One Name</h2>
        <input type="text" @bind="@board.PlayerOne.Name" />
    </div>
</div>

@code {
    private List<string> SegoeSymbolCodes { get; set; } = [];

    private List<string> cssColors = new List<string>();

    protected override void OnInitialized()
    {
        // Get all known color names from System.Drawing.KnownColor enum
        foreach (System.Drawing.KnownColor known in Enum.GetValues(typeof(System.Drawing.KnownColor)))
        {
            var color = System.Drawing.Color.FromKnownColor(known);
            // Filter out system colors and add to the list
            if (!color.IsSystemColor)
            {
                cssColors.Add(color.Name);
            }
        }

        for(int i = 32; i < 9983; i++)
        {
            SegoeSymbolCodes.Add($"&#{i:0000};");
        }
    }

    OnePlayerGameBoard board = new OnePlayerGameBoard();
}