@page "/OnePlayer"
@using BlazorApp1.Enums
@using BlazorApp1.Models

<style>
    .board {
        background-color: white;
        display: flex;
        flex-direction: row;
        max-width: 490px;
    }

    .column {
        min-width: 60px;
        min-height: 60px;
        height: 100%;
    }

    .gamepiece {
        border: solid 1px black;
        min-height: 60px;
        min-width: 60px;
        background-repeat: no-repeat;
        text-align: center;
        font-size: 38px;
    }

    .x {
        color: red;
    }

    .o {
        color: blue;
    }
</style>

<PageTitle>One Player Tic Tac Toe</PageTitle>

@if (!board.IsGameComplete)
{
    <h2>@board.CurrentTurn's Turn!</h2>
}
else
{
    <h2>@board.GetGameCompleteMessage()
        <button class="btn btn-success" @onclick="@(() => board.Reset())">Reset</button>
    </h2>
}

<div class="board">
    @for (int i = 0; i < 3; i++)
    {
        <div class="column">
            @for (int j = 0; j < 3; j++)
            {
                int x = i;
                int y = j;
                <div class="gamepiece @board.Board[i, j].Style.ToString().ToLower()" @onclick="@(() => board.PieceClicked(x, y))">
                    @(board.Board[i, j].Style == PieceStyle.Blank ? "" : @board.Board[i, j].Style.ToString().ToUpper())
                </div>
            }
        </div>
    }
</div>

@code {
    TwoPlayerGameBoard board = new TwoPlayerGameBoard();
}
